{
    "presets": [
        ['env', { 'modules': false }],
        "stage-3"
    ],
    plugins: [
        'lodash',
        ["component",
            [{
              "libraryName": "element-ui",
              "styleLibraryName": "theme-chalk"
            }]
        ]
    ]
}
