@import "reset";
@import "margin-padding";
@import "comm";

#app {
    height: 100%;
}

a {
    color: #404040;

    &:hover, &:focus {
        color: #0085a1;
    }

    img {
        &:hover, &:focus {
            cursor: zoom-in;
        }
    }
}

.c-333 {color: #333;}
.c-666 {color: #666;}
.c-999 {color: #999;}
.c-4d { color: #4d4d4d; }
.c-7b { color: #7b7b7b; }
.c-5a { color: #5a5a5a; }

@for $i from 10 through 18 {
    .f#{$i} {
        font-size: $i + px !important;
    }
}
.f0 { font-size: 0px !important; }
.f20 { font-size: 20px !important; }

.bold {font-weight: bold;}

.box-sizing {
    width:100%;
    box-sizing: border-box;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

// 公用布局样式
.intro-header {
    background: no-repeat center center;
    background-color: #ccc;
    background-attachment: scroll;
    background-size: cover;
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
    .intro-header {
        margin-bottom: 20px;
        /* response on desktop */

        .site-heading, .post-heading, .page-heading {
            padding: 85px 0 55px;
            color: #fff;
        }
    }
}

@media only screen and (min-width: 768px) {
    .intro-header {
        .site-heading, .post-heading, .page-heading {
            padding: 150px 0;
        }

        .site-heading {
            padding: 95px 0 70px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .intro-header {
        .site-heading {
            padding: 150px 0;
        }

        .site-heading, .page-heading {
            text-align: center;

            h1 {
                margin-top: 0;
                font-size: 50px;
            }

            .subheading {
                font-size: 18px;
                line-height: 1.1;
                display: block;
                font-weight: 300;
                margin: 10px 0 0;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .intro-header {
        .site-heading, .page-heading {
            h1 {
                font-size: 80px;
            }
        }

        .post-heading {
            h1 {
                font-size: 30px;
                margin-bottom: 24px;
            }

            .subheading, .meta {
                line-height: 1.1;
                display: block;
            }

            .subheading {
                font-size: 17px;
                line-height: 1.4;
                font-weight: normal;
                margin: 10px 0 30px;
                margin-top: -5px;
            }

            .meta {
                font-family: 'Lora', 'Times New Roman', serif;
                font-style: italic;
                font-weight: 300;
                font-size: 18px;

                a {
                    color: #fff;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .intro-header {
        .post-heading {
            h1 {
                font-size: 55px;
            }

            .subheading {
                font-size: 30px;
            }

            .meta {
                font-size: 20px;
            }
        }
    }
}
