// 首页列表
.post-preview {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;

    > a {
        color: #404040;

        &:hover, &:focus {
            text-decoration: none;
            color: #0085a1;
        }

        .post-title {
            font-size: 21px;
            line-height: 1.3;
            margin-top: 30px;
            margin-bottom: 8px;
        }

        .post-subtitle {
            font-size: 15px;
            line-height: 1.3;
            margin: 0;
            font-weight: 300;
            margin-bottom: 10px;
        }

        .post-content-preview {
            font-size: 13px;
            font-style: italic;
            color: #a3a3a3;

            &:hover {
                color: #0085a1;
            }
        }

        @media only screen and (min-width: 768px) {
            .post-title {
                font-size: 26px;
                line-height: 1.3;
                margin-bottom: 10px;
            }
            .post-subtitle {
                font-size: 16px;
            }

            .post-content-preview {
                font-size: 14px;
            }
        }
    }

    .post-meta {
        font-family: 'Lora', 'Times New Roman', serif;
        color: #ccc;
        font-size: 16px;
        font-style: italic;
        margin-top: 0;

        > a {
            text-decoration: none;
            color: #404040;

            &:hover, &:focus {
                color: #0085a1;
                text-decoration: underline;
            }
        }
    }

    @media only screen and (min-width: 768px) {
        .post-meta {
            font-size: 18px;
        }
    }
}

.sidebar-container {
    color: #bfbfbf;
    font-size: 14px;

    h5 {
        color: #ccc;
        padding-bottom: 1em;

        a {
            color: #ccc !important;
            text-decoration: none;
        }
    }

    a {
        color: #bfbfbf !important;

        &:hover, &:active {
            color: #0085a1 !important;
        }
    }

    .tags {
        a {
            border-color: #bfbfbf;

            &:hover, &:active {
                border-color: #0085a1;
            }
        }
    }

    .short-about {
        img {
            width: 80%;
            display: block;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        p {
            margin-top: 0px;
            margin-bottom: 20px;
        }

        .list-inline {
            > li {
                padding-left: 0;
            }
        }
    }
}

@media (min-width: 1200px) {
    .sidebar-container {
        padding-right: 5%;
    }
}

.tags {
  margin-bottom: -5px;

    a, .tag {
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 0.8);
        border-radius: 999em;
        padding: 0 10px;
        color: #ffffff;
        line-height: 24px;
        font-size: 12px;
        text-decoration: none;
        margin: 0 1px;
        margin-bottom: 6px;

        &:hover, &:active {
            color: #fff;
            border-color: white;
            background-color: rgba(255, 255, 255, 0.4);
            text-decoration: none;
        }
    }
}

@media only screen and (min-width: 768px) {
    .tags {
        a, .tag {
            margin-right: 10px;
        }
    }
}


// 博客正文
.post-container {
    h1, h2, h3 {
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
    }

    p {
        margin: 1.5em 0;
    }

    a {
        color: #337ab7;

        &:hover, &:focus {
            color: #0085a1;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 30px 0 10px;
    }

    h5 {
        font-size: 16px;
        font-weight: 600;
        color: gray;
    }

    h5 + p {
      margin-top: 5px;
    }

    h6 {
        font-size: 16px;
        font-weight: 600;
        color: gray;
    }

    h6 + p {
      margin-top: 5px;
    }

    ul， ol {
        margin-bottom: 40px;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 1.5em auto 1.6em auto;
    }
}


@media (min-width: 1200px) {
    .post-container {
        padding-right: 5%;
    }
}

@media (min-width: 768px) {
    .post-container {
        padding-right: 5%;
    }
}

@media screen and (max-width: 768px) {
    .post-container {
        ul， ol {
            padding-left: 30px;
        }
    }
}

@media screen and (max-width: 500px) {
    .post-container {
        ul， ol {
            padding-left: 20px;

            ul, ol {
                margin-bottom: 5px;
            }
        }

        li {
            p {
                margin: 0;
                margin-bottom: 5px;
            }

            h1, h2, h3, h4, h5, h6 {
                line-height: 2;
                margin-top: 20px;
            }
        }

        .pager {
            li {
                width: 48%;

                > a {
                    width: 100%;

                    > span {
                        color: #cccccc;
                        font-weight: normal;
                        letter-spacing: 0.5px;
                    }
                }
            }

            li.next {
                float: right;
            }

            li.previous {
                float: left;
            }


        }
    }
}

// 右侧快捷导航目录
.side-catalog {
    display: block;
    height: 100%;
    width: 195px;
    padding-bottom: 40px;

    &.fixed {
        position: fixed;
        top: -21px;
    }

    .catalog-body {
        position: relative;
        list-style: none;
        padding-left: 0px;
        padding-right: 5px;
        text-indent: 0;
        max-height: 400px;
        overflow-y: auto;

        li {
            position: relative;
            list-style: none;

            a {
                padding-left: 10px;
                max-width: 180px;
                display: inline-block;
                vertical-align: middle;
                height: 30px;
                line-height: 30px;
                overflow: hidden;
                text-decoration: none;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .h1_nav, .h2_nav, .h3_nav {
            margin-left: 0;
            font-size: 13px;
            font-weight: bold;
        }

        .h4_nav, .h5_nav, .h6_nav {
            margin-left: 10px;
            font-size: 12px;

            a {
                max-width: 170px;
            }
        }

        .active {
            border-radius: 4px;
            background-color: #F5F5F5;

            a {
                color: #0085a1!important;
            }
        }
    }
}

@media (max-width: 1200px) {
  .side-catalog {
    display: none;
  }
}

// tags
#tagCloud {
    margin: 20px 0 15px 0;

    a, .tag {
        font-size: 14px;
        border: none;
        line-height: 28px;
        margin: 0 4px;
        margin-bottom: 8px;
        background: #D6D6D6;

        &:hover, &:active {
            background-color: #0085a1 !important;
        }
    }
}

@media only screen and (min-width: 768px) {
    #tagCloud {
        margin-bottom: 25px;
    }
}

.listing-seperator {
    color: #0085a1;
    font-size: 21px !important;

    &:before {
        margin-right: 5px;
    }
}

@media only screen and (min-width: 768px) {
    .listing-seperator {
        font-size: 20px !important;
        line-height: 2 !important;
    }
}


.one-tag-list {
    font-weight: 200;

    .post-preview {
        position: relative;

        > a {
            .post-title {
                font-size: 16px;
                font-weight: 500;
                margin-top: 20px;
            }

            .post-subtitle {
                font-size: 12px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .one-tag-list {
        .post-preview {
            > a {
                .post-title {
                    font-size: 18px;
                    line-height: 1.3;
                }

                .post-subtitle {
                    font-size: 14px;
                }
            }
        }
    }
}

blockquote {
    color: gray;
    font-style: italic;
    font-size: 0.95em;
    margin: 20px 0 20px;

    p {
        margin: 0 !important;
    }
}

.post-container {
    pre {
        padding: 1em;
        border: none;
        overflow: auto;
        line-height: 1.45;
        max-height: 35em;
        position: relative;
        background-color: #f6f6f6;

        code {
            background: none;
            font-size: 1em;
            overflow-wrap: normal;
            white-space: inherit;
            padding: 0;
            color: inherit;
            border-radius: 0;
        }
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 1.5em auto 1.6em auto;
    }
}
