.post-container {
    h1, h2 {
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
    }

    p {
        margin: 1.5em 0;
    }

    a {
        color: #337ab7;

        &:hover, &:focus {
            color: #0085a1;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 30px 0 10px;
    }

    h5 {
        font-size: 19px;
        font-weight: 600;
        color: gray;
    }

    h5 + p {
      margin-top: 5px;
    }

    h6 {
        font-size: 16px;
        font-weight: 600;
        color: gray;
    }

    h6 + p {
      margin-top: 5px;
    }

    ul， ol {
        margin-bottom: 40px;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 1.5em auto 1.6em auto;
    }
}


@media (min-width: 1200px) {
    .post-container {
        padding-right: 5%;
    }
}

@media (min-width: 768px) {
    .post-container {
        padding-right: 5%;
    }
}

@media screen and (max-width: 768px) {
    .post-container {
        ul， ol {
            padding-left: 30px;
        }
    }
}

@media screen and (max-width: 500px) {
    .post-container {
        ul， ol {
            padding-left: 20px;

            ul, ol {
                margin-bottom: 5px;
            }
        }

        li {
            p {
                margin: 0;
                margin-bottom: 5px;
            }

            h1, h2, h3, h4, h5, h6 {
                line-height: 2;
                margin-top: 20px;
            }
        }

        .pager {
            li {
                width: 48%;

                > a {
                    width: 100%;

                    > span {
                        color: #cccccc;
                        font-weight: normal;
                        letter-spacing: 0.5px;
                    }
                }
            }

            li.next {
                float: right;
            }

            li.previous {
                float: left;
            }


        }
    }
}
